body {
    font-family: Arial, sans-serif;
    background: #ce0b0b;
    text-align: center;
}

#kalenteri {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    gap: 10px;
}


.luukku {
    background: #d63333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.luukku.avattu {
    background: rgb(13, 198, 25);
    color: #333;
    transform: scale(1.1);
}

#viesti {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
    min-height: 30px; 
}

.rivi {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 5px
}

.lahja {
    width: 40px;
    height: 40px;
    background-image: url("kuvat/oikea_lahja.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -50px;
    left: 50%;
    border-radius: 0;
    animation: tiputus 2s linear forwards;
}

@keyframes tiputus {
    0% { top: -50px; }
    100% { top: 400px; }
}