body {
    font-family: Arial, sans-serif;
    background: #ce0b0b;
    text-align: center;
}

h1 {
    font-family: 'Mountains of Christmas', cursive;
    color: #00ff11;
    text-shadow: 2px 2px 5px red;
    font-size: 6rem; 
}

#kalenteri {
    max-width: none;
    margin: 20px auto;
    text-align: center;
    gap: 10px;
}


.luukku {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: #42a70b;
    color: rgb(201, 30, 30);
    padding: 20px;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.3s;
}

.luukku.avattu {
    background: rgb(13, 198, 25);
    color: #333;
    transform: scale(1.1);
    background-size: cover;
    background-position: center;
    color: transparent;
}

#viesti {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
    min-height: 30px; 
}

.rivi {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 5px
}

.lumi {
    width: 5px;
    height: 5px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 0;
    animation: putoaa 3s linear forwards;
    opacity: 0.8;
}

@keyframes putoaa {
    0% { transform: translateY(0); }
    100% { transform: translateY(100vh); }
}

.lahja {
    width: 40px;
    height: 40px;
    background-image: url("kuvat/oikea_lahja.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -50px;
    left: 50%;
    border-radius: 0;
    animation: tiputus 2s linear forwards;
}

@keyframes tiputus {
    0% { top: -50px; }
    100% { top: 400px; }
}